---
import Page from "@layouts/Page.astro"
import Breadcrumbs from "@components/Breadcrumbs.astro"
import Title from "@components/Title.astro"

//TODO load this data from a file?
const trail = [
    { title: "Home", url: "/" },
    { title: "What is UPA", url: "/what-is-upa" }
]

const links = [
    "/pdfs/Ackerman et al., 2014.pdf",
    "/pdfs/Azunre et al., 2019.pdf",
    "/pdfs/Chalmin-Pui et al., 2021.pdf",
    "/pdfs/Fanfani et al., 2022.pdf",
    "/pdfs/Lwasa et al., 2014.pdf",
    "/pdfs/Maxwell et al., 1999.pdf",
    "/pdfs/Padgham et al., 2015.pdf",
    "/pdfs/Soga et al., 2017.pdf",
    "/pdfs/Walters _ Midden, 2018.pdf",
    "/pdfs/Wendelboe-Nelson et al., 2019.pdf",
    "/pdfs/White _ Stirling, 2013.pdf"
]
---

<Page>
    <Breadcrumbs {trail} slot="breadcrumb" />
    <Title slot="title" title="What is UPA">
        <p>
            Urban and peri-urban agriculture (UPA) can be described as “horticultural, agricultural, and
            farming
            activities carried out on small plots of land in and around urban centres”
            <sup><a href={links[0]}target="_blank">[1]</a></sup>.
            UPA has been lauded for its potential positive impacts on all three pillars of sustainability
            <sup><a href={links[0]} target="_blank">[1]</a>
            <a href={links[1]} target="_blank">[2]</a></sup>, including
            enhanced dietary diversity, contribution to ecosystem
            services and improvements in the social quality of city spaces and peoples’ lives
            <sup>
                <a href={links[0]} target="_blank">[1]</a>
                <a href={links[1]} target="_blank">[2]</a>
                <a href={links[3]} target="_blank">[3]</a>
                <a href={links[4]} target="_blank">[4]</a>
                <a href={links[5]} target="_blank">[5]</a>
                <a href={links[6]} target="_blank">[6]</a>
                <a href={links[7]} target="_blank">[7]</a>
                <a href="https://books.google.co.uk/books?hl=en&lr=&id=hbWQDwAAQBAJ&oi=fnd&pg=PA135&dq=Mancebo+%26+Certoma,+2019+urban+agriculture&ots=B_4ppm_IaF&sig=skth-Ur7E4c5GnQEEVeTdBDlBPU&redir_esc=y#v=onepage&q=Mancebo%20%26%20Certoma%2C%202019%20urban%20agriculture&f=false"
                    target="_blank">[8]</a></sup>. There is evidence of UPA reducing indoor temperatures
            <sup><a href={links[8]} target="_blank">[9]</a></sup>, promoting organic household waste recycling, and
            lowering energy embodied
            in
            food transportation <sup><a href={links[1]} target="_blank">[1]</a></sup>. UPA can also foster social
            cohesion and community
            empowerment, enabling bottom-up innovation and localised sustainability solutions
            <sup><a href={links[10]} target="_blank">[10]</a><a href={links[9]} target="_blank">[11]</a><a
                    href={links[2]} target="_blank">[12]</a></sup>.
        </p>
        <p>
            This section of the exhibition showcases UPA farmers', while providing insights into their
            lifestyles
            and agricultural methods in and around the city.
        </p>
    </Title>
    <section class="flex flex-col w-full sm:w-2/3 lg:w-full lg:flex-row gap-8">
        <a href="/what-is-upa/personal-encounters" class="card group">
            <img src="/assets/what-is-upa/Insights_from_the_field.jpg"
                class="brightness-50 group-hover:scale-110 transition-transform ease-in-out duration-500" />
            <div class="card-textblock">
                <div class="flex flex-col justify-around">
                    <div class="">
                        <h2>Personal Encounters</h2>
                        <h2>Voices from the field</h2>
                    </div>
                    <p class="flex gap-2 items-center">Take
                        me there
                        <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM1 4.5H25V3.5H1V4.5Z"
                                fill="white" />
                        </svg>
                    </p>
                </div>
            </div>
        </a>
        <a href="/what-is-upa/showcasing-upa" class="card group">
            <img src="/assets/what-is-upa/Voices_from_the_field.jpg"
                class="brightness-50 group-hover:scale-110 transition-transform ease-in-out duration-500" />

            <div class="card-textblock">
                <div class="flex flex-col justify-around">
                    <div>
                        <h2>Showcasing UPA</h2>
                        <h2>Insights from the field</h2>
                    </div>
                    <p class="flex gap-2 items-center">Take
                        me there
                        <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM1 4.5H25V3.5H1V4.5Z"
                                fill="white" />
                        </svg>
                    </p>
                </div>
            </div>
        </a>
    </section>
</Page>

<style lang="postcss">
    sup {
        @apply text-green;
    }
    a {
        @apply underline;
    }

    .card {
        @apply relative rounded-lg shadow-lg overflow-clip;
    }

    .card-textblock {
        @apply absolute flex items-stretch inset-0 px-6;
    }

    .card-textblock h2 {
        @apply text-2xl sm:text-3xl font-semibold text-white;
    }

    .card-textblock p {
        @apply text-white;
    }
</style>