---
const logos = [
    { src: 'UEA (1).png', url: 'https://www.uea.ac.uk/about/school-of-international-development' },
    { src: 'iihs.png', url: 'https://iihs.co.in/' },
    { src: 'iitm.png', url: 'https://www.iitm.ac.in/' },
    { src: 'au.png', url: 'https://www.aru.ac.tz/' },
    { src: 'OUT.png', url: 'https://www.out.ac.tz/' },
    { src: 'taha (1).png', url: 'http://www.taha.or.tz/' },
    { src: 'APU.png', url: 'https://azimpremjiuniversity.edu.in/' },
]
---

<footer class="px-8 xl:px-16 pt-8 pt-6 pb-12 border-t">
    <p class="font-azeret font-bold tracking-tight text-lg xl:text-xl xl:my-2 text-green">Partners</p>

    <div class="flex justify-between gap-x-8 gap-y-4 flex-wrap lg:flex-nowrap items-centers">

        <a class="" href={logos[0].url}>
            <img src={"partner_logos/"+logos[0].src} alt={logos[0].src}  />
        </a>
        <a  href={logos[1].url}>
            <img src={"partner_logos/"+logos[1].src} alt={logos[1].src} />
        </a>
        <a  href={logos[2].url}>
            <img src={"partner_logos/"+logos[2].src} alt={logos[2].src}  />
        </a>
        <a  href={logos[3].url}>
            <img src={"partner_logos/"+logos[3].src} alt={logos[3].src} />
        </a>
        <a  href={logos[4].url}>
            <img src={"partner_logos/"+logos[4].src} alt={logos[4].src}  />
        </a>
        <a  href={logos[5].url}>
            <img src={"partner_logos/"+logos[5].src} alt={logos[5].src}  />
        </a>
        <a  href={logos[6].url}>
            <img src={"partner_logos/"+logos[6].src} alt={logos[6].src}  />
        </a>

    </div>
</footer>
<style>
    a {
        @apply shrink h-20;
    }
    img {
        @apply w-auto h-full;
    }
</style>